html,body{
    font-family: Helvetica, sans-serif;
    background-image: url("http://wallpapercave.com/wp/7pDoP2C.png");

        background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom; 
    z-index: -2;
}
h1{
    opacity: 0;
}
.container-fluid{
    margin-left:100px;
            

}

.navbar-default{
    background-color:#fff;
}

.presentation-box{
    position:absolute;
    padding:50px;
    background-color:#eee;
    border-radius: 25px;
    left:50%;
    right: 200px;
    font-size: 20px;
    
}

.canvasBack{
    padding: 0;
    margin: auto;
    display: block;
    width: 100%;
    height:600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:-1;
}
	

canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 100%;
    height:600px;
    position: absolute;
    top: 25px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:0;

}
